<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      POKEDEX APP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-searchbar placeholder="Buscar Pokemon" color="medium"></ion-searchbar>

  <!-- Bulbasaur -->
  <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip color="grass" slot="start">
        <ion-label color="grass">Nº001</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Bulbasaur</h2>
          <ion-badge color="grass">Grass</ion-badge>
          <ion-badge color="tertiary">Poison</ion-badge>

        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png">
      </ion-thumbnail>

    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <!-- 2 -->
  <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip color="grass" slot="start">
        <ion-label color="grass">Nº002</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Ivysaur </h2>
          <ion-badge color="grass">Grass</ion-badge>
          <ion-badge color="tertiary">Poison</ion-badge>

        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/002.png">
      </ion-thumbnail>

    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <!-- 3 -->
  <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip color="grass" slot="start">
        <ion-label color="grass">Nº003</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Venusaur</h2>
          <ion-badge color="grass">Grass</ion-badge>
          <ion-badge color="tertiary">Poison</ion-badge>

        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/003.png">
      </ion-thumbnail>

    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>


  <!--4-->
  <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip color="fire" slot="start">
        <ion-label color="fire">Nº004</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Charmander</h2>
          <ion-badge color="fire">Fire</ion-badge>

        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png">
      </ion-thumbnail>

    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

   <!---->
   <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip color="fire" slot="start">
        <ion-label color="fire">Nº005</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Charmeleon</h2>
          <ion-badge color="fire">Fire</ion-badge>

        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/005.png">
      </ion-thumbnail>

    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

   <!---->
   <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip color="fire" slot="start">
        <ion-label color="fire">Nº006</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Charizard</h2>
          <ion-badge color="fire">Fire</ion-badge>
          <ion-badge color="tertiary">Flying</ion-badge>

        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/006.png">
      </ion-thumbnail>

    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

   
  <!---->
  <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip color="water" slot="start">
        <ion-label color="water">Nº 007</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Squirtle</h2>
          <ion-badge color="water">Water</ion-badge>

        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/007.png">
      </ion-thumbnail>

    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <!---->
  <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip color="water" slot="start">
        <ion-label color="water">Nº 008</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Wartortle</h2>
          <ion-badge color="water">Water</ion-badge>

        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/008.png">
      </ion-thumbnail>

    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <!---->
  <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip color="water" slot="start">
        <ion-label color="water">Nº 009</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Blastoise</h2>
          <ion-badge color="water">Water</ion-badge>

        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/009.png">
      </ion-thumbnail>

    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <!---->
  <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip color="electric" slot="start">
        <ion-label color="electric">Nº 025</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Pikachu</h2>
          <ion-badge color="electric">Electric</ion-badge>

        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png">
      </ion-thumbnail>

    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <!---->
  <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip color="electric" slot="start">
        <ion-label color="electric">Nº 026</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Raichu</h2>
          <ion-badge color="electric">Electric</ion-badge>

        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/026.png">
      </ion-thumbnail>

    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <!---->
  <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip color="electric" slot="start">
        <ion-label color="electric">Nº172</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Pichu</h2>
          <ion-badge color="electric">Electric</ion-badge>

        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/172.png">
      </ion-thumbnail>

    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

</ion-content>
